/* ==== GLOBAL ==== */
body {
  font-family: 'Poppins', sans-serif;
  background: #f8f9fa;
  margin: 0;
  color: #222;
}

h1, h2, h3 {
  margin: 0 0 1rem;
}

p {
  line-height: 1.6;
}

a {
  color: white; /* Sets the default color for all hyperlinks */
}

/* ==== HERO ==== */
.hero {
  background: #003366;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.hero h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

/* ==== PANELS ==== */
.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  margin: 2rem auto;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 2rem;
}

/* Section Title */
.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#description_left {
  padding-left: 10px;
}

#description_right {
  padding-right: 10px;
}

.business_text {
  color: #E1BE6A;
  font-weight: bold;
}

.holiday_text {
 color: #40B0A6;
 font-weight: bold;
}

.other_text {
  color: #E66100;
  font-weight: bold;
}

.visiting_text {
  color: #5D3A9B;
  font-weight: bold;
}

#black_font {
  color: black
}

.text-div {
  font-family: 'Poppins', sans-serif;

}


/* ==== FOOTER ==== */
footer {
  text-align: center;
  padding: 1rem;
  background: #003366;
  color: white;
  border-radius: 1rem 1rem 0 0;
  font-size: 0.9rem;
}
